
<ion-content>
  <ion-card>
    <div class="table">
      <div class="table-header">
        <div class="item-producto">
          Producto
        </div>
        <div class="item-cantidad">
          Cantidad
        </div>
        <div class="item-delete">
          
        </div>
      </div>
      <div class="table-content" *ngIf="_cart.order.detalles.length">
        <div class="row" *ngFor="let detail of _cart.order.detalles;let i=index" [attr.data-index]="i">
          <div class="item-producto">
            {{detail._producto.nombre}}
          </div>
          <div class="item-cantidad-detail">
           
            <ion-icon name="remove-circle" (click)="changeQuantity(i,'r')" class="text-warning fs-2"></ion-icon>
            {{detail.cantidad}}
            <ion-icon name="add-circle" (click)="changeQuantity(i,'s')" class="text-primary fs-2"></ion-icon>
          </div>
          <div class="item-delete">
            <ion-icon name="trash" (click)="eliminarProducto(i)" class="text-danger mt-2"></ion-icon>
          </div>
        </div>
      </div>
      <div class="not-found" *ngIf="!_cart.order.detalles.length">No seleccionaste ningun producto</div>
    </div>
    
  </ion-card>

</ion-content>