.content{
    width: 100%;
    padding: 1.2em;
}
.mb-2{
    margin-bottom: 1.5em;
}
.h-30{
    height: 80px;
    background-color: #fff;
    color:black;
    border: 1px solid #ccc;
}
.button-submit{
    margin-top:1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}